node_modules
.next/
.env
.env.local
.env.production.local
.env.development.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.tsbuildinfo
next-env.d.ts
dev.db
*.db

/lib/generated/prisma
